doctype html
html
	head
		title Login page
	body
		h3 로그인
		hr
		form(name = "login", method = "POST")
			div.input
				span.label 아이디:
				input(type="text" name = "userid")
			div.input
				span.label 비밀번호:
				input(type="password" name = "userpass1")
			hr
			div.input
				input(type="submit",value="로그인")

